/* regole generali */
*{
  margin:0;
  padding: 0;
  box-sizing: border-box;
}

#root {
  background: #1e2d3b;
  text-align: center;
}

header {
  height: 50px;
  background-color: #2e3a46;
  display: flex;
  justify-content: center;
  align-items: center;
}
header > img {
  background: green;
  border-radius: 50%;
}
header > * {
  margin:0 200px;
}
.container {
  display: flex;
  flex-flow:row wrap;
  justify-content: center;
  align-items: center;
  width: 40%;
  height: 100vh;
  margin: auto;
}

/* regole album */
.album {
  height: 200px;
  width: calc(100% / 5);
  text-align: center;
  background-color: #2e3a46;
  margin: 5px 10px;
  color:#51585f;
}

.album img {
  max-width: 80%;
  margin: 10px auto;
}
 p {
  font-size: 12px;
  font-family: 'Roboto', sans-serif;
}
.color {
  color:#fff;
  font-size: 14px;
  font-family: 'Roboto', sans-serif;
}

/* Regole select */

select {
  width: 80px;
  text-align: center;
}
