<!DOCTYPE html>

<html lang="en" dir="ltr">

  <head>

    <meta charset="utf-8">
    <title>Vue dischi by Christian Pucci</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.20.0/axios.min.js"></script>
    <link rel="stylesheet" href="css/style.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">

  </head>

  <body>

    <div id = "root">

      <select @change="filterDischi" v-model="value">
         <option value="all">All</option>
         <option value="pop">Pop</option>
         <option value="rock">Rock</option>
         <option value="metal">Metal</option>
         <option value="jazz">Jazz</option>
      </select>
     <!-- per ogni elemento dell'array in js andiamo a stampare le proprietà dell album  -->
     <div class="container">
       <div class="album" v-for="(disc,index) in dischi">

         <img :src="disc.poster" alt="">
         <p class="color">{{disc.title}}</p>
         <p>{{disc.author}}</p>
         <p>{{disc.year}}</p>

       </div>
     </div>

    </div>


    <script type="text/javascript" src="js/script.js">
    </script>

  </body>

</html>
